<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Used to access apple music.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Used to communicate between devices using Bluetooth.</string>
	<key>NSContactsUsageDescription</key>
	<string>Used to access the contacts.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Used to access health kit.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Used to update health kit.</string>
	<key>NSHomeKitUsageDescription</key>
	<string>Used to update home kit.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Used to access the user location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Used to access the user location when required.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Used to access the microphone.</string>
	<key>NSMotionUsageDescription</key>
	<string>Used to access the motion sensors.</string>
	<key>NSRemindersUsageDescription</key>
	<string>Used to access the reminders settings.</string>
	<key>NSSiriUsageDescription</key>
	<string>Used to access Siri.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Used to access speech recognition.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Used to access the calendar.</string>
	<key>NSCameraUsageDescription</key>
	<string>Used to take a photo.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Used to access the photo library.</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSPrincipalClass</key>
	<string></string>
</dict>
</plist>
